// div, aside, section {
//   border: 1px solid green;
// }

header {
  border: 1px solid var(--blue-010);
  // border: 1px solid green;
  border-radius: 5px;
  margin-top: 60px;
  overflow:hidden;
}

.row {
  display: flex;
  // margin: 20px auto;

  aside {
    display: flex;
    text-align: center;
    width: 33%;

    img {
      margin: auto;
      max-width: 400px;
    }
  }

  section {
    padding: 0 15px;
    width: 67%;
  }
}

.row-spacer {
  border-radius: 5px;
  background: linear-gradient(-120deg, var(--blue-030), var(--blue-040));
  height: 10px;
  margin: 80px 0;
}

footer {
  padding: 0 0 60px;
  text-align: center;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;

    aside {
      width: 100%;
    }
    section {
      width: 100%;
    }
  }
}
